<div class="container">
  <h1>Pesquisa de Satisfação</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><%= l(:issue_id) %></th>
        <th scope="col"><%= l(:issue_survey_author) %></th>
        <th scope="col"><%= l(:survey_comment) %></th>
        <th scope="col"><%= l(:survey_rating) %></th>
      </tr>
    </thead>

    <tbody>
      <% @surveys.each do |survey| %>
        <tr>
          <td><%= link_to survey.issue_id, issue_path(survey.issue_id) %></td>
          <td><%= survey.get_author %></td>
          <td><%= survey.comentario %></td>
          <td nowrap>
            <% (1..5).each do |i|%>
              <% if survey.true_if_rating_smaller_then_iterator(survey.nota, i)%>
                <strong class="text-orange">★</strong>
              <% else %>
                <strong class="text-black">★</strong>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>&nbsp;</div>

  <div class="col-md-12">
    <div class="col-md-5"></div>
    <div class="col-md-2"><%= paginate @surveys %></div>
    <div class="col-md-5"></div>
  </div>
</div>


<% content_for :header_tags do %>
  <%= javascript_include_tag 'star', plugin: 'redmine_survey' %>
  <%= stylesheet_link_tag "bootstrap", plugin: 'redmine_survey' %>
<% end %>